
{% load static %}
<html>
<head>
	<title>TheTalkSquare</title>

	<!--BOOTSTRAP -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--CSS -->
	<link href="{% static 'MyCss.css' %}" rel="stylesheet">

	<!--javascript-->
	<script src="Js/MyJs.js"></script>

</head>
<body>
	<ul class="topnav" id="myTopnav">
		<li class="icon">
			<a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
	    </li>
	    <li><a href="#home">Home</a></li>
	    <li><a href="#contact">Contact</a></li>
	    <li><a href="#about">About</a></li>
	</ul>

	<br><br><br><br>
	<center>

	<header id="top" class="head">
        <div class="text-vertical-center">
            <h1>The Talk Square</h1>
            <h3>Where your opinion is valued</h3>
            <br>
        	<a href="signup" class="btn btn-warning btn-lg">Sign Up</a>
			<a href="login" class="btn btn-warning btn-lg">Log In</a>
        </div>
    </header>

	</center>

	<br><br>

	 <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
		<p class="lead"> 
                    This wibsite is made for debaters to express there opinions on any topic of there choice.<br>Users can :
                
		<ul>
			<li>Add their opinion on existing topics 
			<li>Add there own new topics for an open debate.
		</ul>
		</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
	
</body>
</html>
